@font-face {
  font-family: 'Ten-Theme';
  src:  url('fonts/Ten-Theme.eot?ehyesc');
  src:  url('fonts/Ten-Theme.eot?ehyesc#iefix') format('embedded-opentype'),
    url('fonts/Ten-Theme.ttf?ehyesc') format('truetype'),
    url('fonts/Ten-Theme.woff?ehyesc') format('woff'),
    url('fonts/Ten-Theme.svg?ehyesc#Ten-Theme') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Ten-Theme' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--user-star:before {
  content: "\e901";
}
.icon--shopping-cart:before {
  content: "\e900";
}
